@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Lines&display=swap');

@font-face {
    font-family: "gibson";
    src: url(./fonts/Gibson/Demo_Fonts/Fontspring-DEMO-gibson-regular.otf);
}
body{
    font-family: "Roboto", sans-serif;
   font-weight: 600;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
    width: 100%;
    background-color: #48AFFF;
    position: fixed;
    z-index: 9999;
    top: 0;
    font-family: "gibson", sans-serif ;
}
.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #48AFFF;
    height: 100px;
    width: 95%;
    margin: 0 auto;
   
}
.navBar img{
    width: 100px;
}
.search input{
    padding: 20px 0px;
    width: 98%;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    padding-left: 20px;
}
.search{
    width: 45%;
    position: relative;
}
.search span i{
    position: absolute;
    right: 17px;
    top: 18px;
    font-size: 30px;
    color: #48AFFF;
}
.logo , .buttons{
    width: 20%;
}
.logoImg{
    width: 250px !important;
}
.buttons{
    text-align: right;
}
.navBar button {
    width: 150px;
    height: 60px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    border: none;
}
.login{
    color: #48AFFF;

}
.register{
    background: transparent;
    border: 1px solid #fff !important;
    color: #fff;
    margin-left: 5px;
}
/* hero section Styling */
.chooseBrand{
    width: 95%;
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    text-align: center;


}
.chooseBrand h2{
    margin: 50px 0px;
    font-size: 40px;
    color: red;
}
.hero{
    display: flex;
    justify-content: space-around;
    align-items: end;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
}
.styles_singlePhone img{
    height: 100%;
    width: 80%;
}
.styles_singlePhone{
    position: relative;
    cursor: pointer;
    width: 150px;
    text-align: center;
}
.styles_singlePhone:hover h1{
    color: red;
}
#rotate{
    transition: transform 0.3s  , top 0.5s, scale 0.5s;;
}
.styles_singlePhone:hover #rotate{
    transform: rotateZ(5deg) translateY(-20px) scale(1.01);
    top: -50px;
}

.style_back{
    position: absolute;
    top: -30px;   
    right: -25px;
    z-index: -1 ;
}
.styles_singlePhone h1{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 20px;



}
#container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 20px;
    align-items: center;
    justify-content: center;

}
.card{
    width: 100%;
    height: 250px;
    background-color: #fff;
    display: flex;
    color: rgb(51, 51, 51);
}
.card h2{
    font-size: 25px;
    font-weight: 600;
    line-height: 21px;
    margin: 0;
}
.card img{
    width: 100%;
    
}
.card p{
    margin: 2px 0px;
    padding: 0;
    font-size: 18px;
    font-weight: 400;

}
.card-con:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.model{
    font-size: 25px !important;
    margin-bottom: 5px !important;
}
.model:hover, .card h2:hover{
    text-decoration: underline;
    cursor: pointer;
}
.card span{
    font-size: 20px;
    font-weight: 600;
}
.price{
    font-family: "Roboto";
    font-size: 25px !important;
    font-weight: 700 !important;
    color: red;
}
.card-details{
    padding: 10px 0px 10px 10px;

}
.card-con{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 25px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #DBDBDB;
    border-top: 1px solid #DBDBDB;
    margin-top: 10px;
}
.bottom button{
    width: 125px;
    height: 35px;
    border-radius: 30px;
    font-weight: 800;
    background-color: #fff;
    cursor: pointer;
}
.cartBtn{
    background-color: red !important;
    color: #fff;
    border: none;
}
.color{
    border-radius: 50%; 
    display: inline-block; 
    width: 20px; 
    height: 20px;
    margin-right: 5px;
    border: 3px solid #DBDBDB;
}
/* Detail Card Styling */
.detailCard{
    display: flex;
    flex-direction: column;
}
.leftSide{
    width: 30%;
}
ul{
    list-style-type: none;
    margin: 0;

}
li{
    width: 100px;
    height: 100px;
    border: 2px solid #DBDBDB;
    border-radius: 8px;
    padding: 2px;
    margin-bottom: 5px;
}
li img{
    width: 100%;
}
.mainImg{
    width: 50%;
    display: flex;
    align-items: center;
}
.mainImg img{
    width: 100%;
    height: 500px;

}
.imageSec{
    display: flex;
}
.speficationDetail{
    width: 100%;
    padding: 40px;
}
.speficationPara{
    font-size: 15px;
    width: 70%;
    font-weight: 200;
    display: flex;
    padding: 5px;
    border-radius: 8px;
    
}

.speficationDetail p{
    width: 70%;
}
.screen{
    background-color: #F1F8FF;
}

footer{
    background: #111;
    padding:  20px 23px;
    color: #fff;
    margin-top: 80px;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 1280px){
    .buttons{
        width: 30%;
    }
    .search{
        width: 35%;
    }
    .navBar{
        height: 80px;
    }
    .buttons button{
        width: 110px;
        height: 45px;
        font-size: 16px;
    }
    .search input{
        padding: 12px 10px;
    }
    .search span i{
        font-size: 18px;
        right: 5px;
        top: 16px;
    }
    .card-con{
        width: 420px;
    }
    .bottom button{
        width: 100px;
        font-size: 10px !important;
    }
    .color{
        width: 12px;
        height: 12px;
    }
    .styles_singlePhone img{
        width: 90px;
    }
    .style_back{
        top: -27;
        right: 9px;
    }
}